<% layout('./layouts/boilerplate') %> 
<center>
    <div class="alert alert-success queryResults">
        <p>Results for:</p>
        <h6><%= searched %> </h6>
    </div>
    <h1>This is about</h1>
</center>