<% layout('./layouts/boilerplate') %> 
<center class="container">
    <div class="title-container">
        <% if(typeof searchError != "undefined" && searchError){ %> 
        <div class="alert alert-danger search-error">
            <p><%= notFound %> </p>
        </div>
        <% }else if(typeof searchError != "undefined" && !searchError){ %> 
        <div class="alert alert-success search-error">
            <p>Results for: <%= notFound %> </p>
            <p>Yes it is ads free website <br>
            You can donwload any video without any ads intruption</p>
        </div>
        <% } %> 
        <h1>Smart Downloader</h1>
        <h1><i class="fa fa-youtube-play" style="font-size:28px;color:red"></i>
            <i class="fa fa-facebook" style="font-size:28px;color:#3b5998;"></i>
            <i class="fa fa-twitter" style="font-size:28px;color:#1da1f2;"></i>
            <i class="fa fa-instagram" style="font-size:28px;color:hotpink"></i>
            <i class="fa fa-soundcloud" style="font-size:28px;color:orange"></i>
            <i class="fab fa-tiktok" style="font-size:28px;color:black"></i>
            <i class="fa fa-vimeo" style="font-size:28px;color:red"></i>
            <i class="fab fa-dailymotion" style="font-size:28px;color:#1877F2"></i>
            <i class="fa fa-vk" style="font-size:28px;color:red"></i></h1>
    </div>

    <div class="top-container">
        <form action="/convert-mp3" method="POST" id="form">
            <input style="width: 80%; margin-bottom: 1rem;" class="form-control" type="text" name="videoID"
                placeholder="Enter video URL">
            <button class="btn btn-success btn-convert" id="convert-btn">FIND VIDEO</button><br>
        </form>
    </div>
    <div class="bottom-container">
        <% if(typeof success != "undefined" && success) { %>
        <div class="success">
            <iframe id="widgetApi" src="https://yt-download.org/api/widget?url=<%= song_link %> " width="100%"
                height="100%" allowtransparency="true" scrolling="no" style="border:none">
            </iframe>
        </div>
        <% }else if(typeof success != "undefined" && !success){ %>
        <div style="width: 80%;" class="alert alert-danger">
            <%= message %>
        </div>
        <% } %>
    </div>
    <div class="what-we-provide">
        <p class="what-we-provide-p">
            Save videos to any device: PC, Smartphone,<br> Windows, Mac, iPhone and Android<br>
            Online service without registration <br>
            Completely free video and music conversion <br>
            No software installation required <br>
            Secure file download</p>
    </div>
</center>