<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid container ">
      <a class="navbar-brand download-btn-txt-css" style="color: green;" href="/">Smart Downloader</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a style="color: black" class="nav-link" aria-current="page" href="/">Home</a>
        </div>
        <div class="navbar-nav ms-auto">
          <form style="margin-top: 1rem;" class="d-flex" action="/search" method="POST" id="form2">
            <input type="text" class="form-control" name="search" id="searchID" placeholder="Search!">
            <button class="btn btn-outline-success">SEARCH</button>
        </form>
        </div>
      </div>
    </div>
  </nav>
